body{
    
    font-family: 'Comic Neue', cursive;
    margin: 10px;
    
    background-image: url('bg/bg3.jpg');
    
    text-align:justify;
}
.mkbg{
    
    font-weight:bolder;
}
.mkbg1{
    font-size:xx-large;
    font-weight:bolder;
}
img {
    width: auto; 
    height: auto;    
}
.box{
    /* border: 2px solid grey; */
    /* height: 55vh; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.con{
    /* background-color: red; */
    border: 2px solid black;
    /* margin:12px; */
    width: 30%;
    
    
}

 .small-img {
    width: 200px;
    height: 200px;
    padding: 3%;
}

.d-block {
    display: block;
}

@media (max-width: 768px){
    .con{
        width: 1000%;
        display:block;
        position:relative;
        left: 70px;
    }
    
}
/* @media screen and (max-width: 291px) {    
    .con{
        width: 90%;
        display:block;
    }
    .img{
        width: 25px;
        height: 25px;
    }
} */
/* @media screen and (max-width: 620px) {    
    .con{
        width: 100%;
        display:block;
    }
} */
/* @media screen and (min-width: 621px) and (max-width: 1028px) {
    .box{
        width:70%;
    }
    .con{
        width: 100%;
        display:block;
    }
}
@media screen and (min-width: 1028 px) and (max-width: 1201px){
    .con{
        width: 40%;
        display:block; */
    /* }
} */
 /* @media screen and (min-width: 1201px){
    .con{
        width: 30%;
        
    }
}  */


.m-2 {
    margin: 10px;
}

/* p-2 means padding 5*2 px */

.p-2 {
    padding: 10px;
}

.m-4 {
    margin: 20px;
}

/* p-2 means padding 5*2 px */

.p-4 {
    padding: 20px;
}
.my_form{
    background-color: black;
    /* display: flex;
    justify-content: center;     */
}
.white-font{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

input {
    text-align: center;
}

